{% extends 'app/admin/base.html' %}
{% block content %}
{% if all_company %}
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Company List</h1>
                    

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h5 class="m-0 font-weight-bold text-primary">List  of  Company .</h5>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <b> <tr style="font-size:14px;color:black;"></b>
                                            <th>Email</th>
                                            <th>Role</th>
                                            <th>Is_verified</th>
                                            <th>Is_created </th>
                                            <th>Is_updated</th>
                                            <th>Update</th>
                                            <th>Delete</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                       <b> <tr style="font-size:14px;color:black;"></b>
                                            <th>Email</th>
                                            <th>Role</th>
                                            <th>Is_verified </th>
                                            <th>Is_created </th>
                                            <th>Is_updated</th>
                                            <th>Update</th>
                                            <th>Delete</th>
                                        </tr>
                                    </tfoot>
                                    {% if all_company %}
                                    <tbody>
                                        {% for i in all_company %}
                                        <b> <tr style="font-size:14px;color:black;">
                                            <td>{{i.email}}</td>
                                            <td>{{i.role}}</td>
                                            <td>{{i.is_verified}}</td>
                                            <td>{{i.is_created}}</td>
                                            <td>{{i.is_updated}}</td>
                                            <td>
                                                <form action="{% url 'verifycompanypage' pk=i.id %}" method="post">
                                                    {% csrf_token %}
                                                    <input type="submit" value="Update">
                                                </form>
                                            </td>
                                            <td>
                                                <form action="{% url 'deletecompany' pk=i.id %}" method="post">
                                                    {% csrf_token %}
                                                    <input type="submit" value="Delete">
                                                </form>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                    {% endif %}
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            {% endif %}
            {% endblock content %}